.listCard {
    background-color: transparent;
    margin: 10px;
    width: 100%;
    color: var(--white);
    border: none;
    position: relative;
}

.listCardImg:hover {
    opacity: 0.9;
    overflow: visible;
    white-space: normal; 
}

.listCardImg:active {
    opacity: 0.8;
}

.listCardImg {
    cursor: pointer;
}

.listCardText {
    width: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: 0 auto;
    padding: 3px 5px;
    background-color: var(--yellow);
    opacity: 0.6;
    /* white-space: nowrap;  */
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.listCard:hover .listCardText{
    bottom: 60px;
    opacity: 0.9;
    width: 60%;
}

.elixir {
    position: absolute;
    top: -3px;
}
@keyframes popUp {
    from {
        bottom: 0;
    }
    to {
        bottom: 90px;
    }
}