.deckContainer {
    background-image: repeating-linear-gradient(var(--light-brown), var(--dark-brown) 10px, var(--light-brown) 20px);
}
    
.list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    justify-content: center;
}

.card {
    flex-basis: 25%;  
    margin: 15px 0px;
}