@font-face {
  font-family: 'CrashRoyale';
  font-style: normal;
  src: url('./assets/fonts/Supercell-magic-webfont.ttf'); 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'CrashRoyale';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  outline: none;
  font-family: 'CrashRoyale';
}

ul{
  list-style: none;
  margin: 0;
}

html,body{
  height: 100%;
  width: 100%;
}

:root{
  --green: #00C84B;
  --yellow: #FFC954;
  --blue: #009AE4;
  --grey: #b6b9bc;
  --dark-grey: #313335;
  --brown: rgba(111, 78, 59, 0.85);
  --light-brown: rgba(140, 100, 73, 0.85);
  --dark-brown: rgb(71, 59, 52);
  --white: #F8F8F8;
  --violet: rgb(252, 22, 233);
  --dark-violet: rgb(99, 8, 91);
  --black: #000000;
  --red: #a50000;
}
