body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*{
  box-sizing: border-box;
  outline: none;
}

ul{
  list-style: none;
  margin: 0;
}

html,body{
  height: 100%;
}

:root{
  --green: #1a617c;
  --orange: #F3C746;
  --grey: #b6b9bc;
  --dark-grey: #313335;
  --white: #F8F8F8;
  --red: #a50000;
  --sidebar-margin: 20%;
}
